<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义应用名称 -->
    <property name="APP_NAME" value="${spring.application.name:-system}" />
    <!-- 定义公共的pattern字符串 -->
    <property name="COMMON_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{requestId}] ${APP_NAME} %logger{36} - %msg%n"/>
     <!-- 1. 专门用于 Feign Access 日志的 Appender，输出到独立文件 -->
    <appender name="FEIGN_ACCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 你的 access 文件路径和名称 -->
        <file>logs/${APP_NAME}-feign-access.log</file>
        <!-- 滚动策略：按日期和大小 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${APP_NAME}-feign-access.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFileNamingAndTriggeringPolicy">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 保留最近30天的日志 -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <!-- 日志输出格式 -->
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 2. 将名为 FEIGN_ACCESS 的 Logger 定向到上面的 Appender -->
    <logger name="FEIGN_ACCESS" level="INFO" additivity="false">
        <appender-ref ref="FEIGN_ACCESS_FILE"/>
    </logger>

    <!-- HTTP Access 日志的 Appender -->
    <appender name="HTTP_ACCESS_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${APP_NAME}-http-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/${APP_NAME}-http-access.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFileNamingAndTriggeringPolicy">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 为 HTTP_ACCESS 日志名配置独立的 Appender -->
    <logger name="HTTP_ACCESS" level="INFO" additivity="false">
        <appender-ref ref="HTTP_ACCESS_FILE"/>
    </logger>


    <!-- 开发环境配置 -->
    <springProfile name="dev | test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
              <pattern>${COMMON_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    
    <!-- 测试和生产环境配置 -->
    <springProfile name="prod">
       <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
           <file>logs/${APP_NAME}.log</file>
           <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
               <fileNamePattern>logs/${APP_NAME}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
               <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFileNamingAndTriggeringPolicy">
                   <maxFileSize>100MB</maxFileSize>
               </timeBasedFileNamingAndTriggeringPolicy>
               <maxHistory>7</maxHistory>
           </rollingPolicy>
           <encoder>
               <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{requestId}] ${APP_NAME} %logger{36} - %msg%n</pattern>
           </encoder>
       </appender>
        <root level="INFO">
             <appender-ref ref="FILE"/>
         </root>
    </springProfile>
</configuration>
