<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.product.dal.mapper.ExpressTemplateShippingToMapper">

    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.product.dal.entity.ExpressTemplateShippingTo">
        <id column="id" property="id" />
        <result column="express_template_id" property="expressTemplateId" />
        <result column="area_code" property="areaCode" />
        <result column="shipping_cost" property="shippingCost" />
        <result column="partner_id" property="partnerId" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <insert id="insertBatch">
        insert into express_template_shipping_to (express_template_id, area_code, shipping_cost, partner_id, create_by,
                                                  update_by, create_time, update_time, is_deleted) values
        <foreach collection="shippingTos" item="item" separator=",">
            (
             #{item.expressTemplateId}, #{item.areaCode}, #{item.shippingCost}, #{item.partnerId}, #{item.createBy},
             #{item.updateBy}, #{item.createTime}, #{item.updateTime}, #{item.isDeleted}
            )
        </foreach>
    </insert>

    <select id="selectByTemplateId" resultMap="BaseResultMap">
        select * from express_template_shipping_to where express_template_id = #{templateId} and is_deleted = 0
    </select>

    <update id="logicDelByTemplateIdAndAreaCodes">
        update express_template_shipping_to set is_deleted = 1, update_by = #{updateBy}, update_time = #{updateTime}
        where express_template_id = #{templateId} and area_code in
        <foreach item="item" index="index" collection="areaCodes" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateBatch">
        <foreach collection="shippingTos" item="item" separator=";">
            update
                express_template_shipping_to
            set
                shipping_cost = #{item.shippingCost},
                update_by = #{item.updateBy},
                update_time = #{item.updateTime}
            where
                id = #{item.id}
        </foreach>
    </update>

    <update id="logicDelByTemplateId">
        update express_template_shipping_to set is_deleted = 1, update_by = #{updateBy}, update_time = #{updateTime}
        where express_template_id = #{templateId}
    </update>

    <select id="selectListByTemplateIds" resultMap="BaseResultMap">
        select * from express_template_shipping_to where express_template_id in
        <foreach item="item" index="index" collection="templateIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_deleted = 0
    </select>
</mapper>