<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.product.dal.mapper.MarketingProductSpuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.product.dal.entity.MarketingProductSpu">
        <id column="id" property="id" />
        <result column="standard_product_spu_id" property="standardProductSpuId" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="product_condition" property="productCondition" />
        <result column="monitor_attribute" property="monitorAttribute" />
        <result column="min_buyback_price" property="minBuybackPrice" />
        <result column="max_buyback_price" property="maxBuybackPrice" />
        <result column="main_pic_urls" property="mainPicUrls" />
        <result column="carousel_pic_urls" property="carouselPicUrls" />
        <result column="video_urls" property="videoUrls" />
        <result column="detail_pic_urls" property="detailPicUrls" />
        <result column="detail_tag_ids" property="detailTagIds" />
        <result column="sku_tag_ids" property="skuTagIds" />
        <result column="rent_way" property="rentWay" />
        <result column="color" property="color" />
        <result column="specification" property="specification" />
        <result column="rental_period" property="rentalPeriod" />
        <result column="renewal_period" property="renewalPeriod" />
        <result column="flexible_return_period" property="flexibleReturnPeriod" />
        <result column="value_added_ids" property="valueAddedIds" />
        <result column="show_page" property="showPage" />
        <result column="is_default_selected" property="isDefaultSelected" />
        <result column="default_selected_value_added_id" property="defaultSelectedValueAddedId" />
        <result column="compensation_rule_id" property="compensationRuleId" />
        <result column="shipping_way" property="shippingWay" />
        <result column="shiping_template_id" property="shippingTemplateId" />
        <result column="shipping_area_codes" property="shippingAreaCodes" />
        <result column="receiving_address" property="receivingAddress" />
        <result column="shelving_way" property="shelvingWay" />
        <result column="shelving_time" property="shelvingTime" />
        <result column="shelving_channel_id" property="shelvingChannelId" />
        <result column="shelves_status" property="shelvesStatus" />
        <result column="is_draft" property="isDraft" />
        <result column="approval_status" property="approvalStatus" />
        <result column="approver_id" property="approverId" />
        <result column="approval_remark" property="approvalRemark" />
        <result column="partner_id" property="partnerId" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <sql id="listSql">
        where is_deleted = 0 and type = #{query.productType}
        <if test="query.name != null">
            and (name like concat('%', #{query.name}, '%') or code like concat('%', #{query.name}, '%'))
        </if>
        <if test="query.standardProductSpuIds != null and query.standardProductSpuIds.size > 0">
            and standard_product_spu_id in
            <foreach item="id" collection="query.standardProductSpuIds" separator="," open="(" close=")" index="">
                #{id}
            </foreach>
        </if>
        <if test="query.productCondition != null">
            and product_condition = #{query.productCondition}
        </if>
        <if test="query.createTimeBegin != null">
            and create_time >= #{rquery.createTimeBegin}
        </if>
        <if test="query.createTimeEnd != null">
            and create_time &lt;= #{query.createTimeEnd}
        </if>
        <if test="query.shelvesStatus != null">
            and shelves_status = #{query.shelvesStatus}
        </if>
        <if test="query.isDraft != null">
            and is_draft = #{query.isDraft}
        </if>
        <if test="query.approvalStatus != null">
            and approval_status = #{query.approvalStatus}
        </if>
    </sql>

    <select id="productTypeStatistic" resultType="com.bajiezu.cloud.product.dal.dto.ProductTypeStatisticCountDTO">
        select type, count(1) as count from marketing_product_spu where is_deleted = 0 and shelves_status = 1
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(1) from marketing_product_spu <include refid="listSql"/>
    </select>

    <select id="approveStatusStatistic" resultType="com.bajiezu.cloud.product.dal.dto.ApproveStatusStatisticCountDTO">
        select approval_status as approveStatus, count(1) as count from marketing_product_spu <include refid="listSql"/>
        group by approval_status
    </select>

    <select id="shelvesStatistic" resultType="com.bajiezu.cloud.product.dal.dto.ShelvesStatisticCountDTO">
        select shelves_status as shelvesStatus, count(1) as count from marketing_product_spu <include refid="listSql"/>
        group by shelves_status
    </select>

    <update id="updateShelvesStatusByIds">
        update
            marketing_product_spu
        set
             shelves_status = #{shelvesStatus},
             update_by = #{updateBy},
             update_time = now()
        where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
        and is_deleted = 0 and is_draft = 0 and approval_status = 1
    </update>

    <update id="logicDeleteByIds">
        update
            marketing_product_spu
        set
            is_deleted = 1,
            update_by = #{updateBy},
            update_time = #{updateTime}
        where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectListByQuery" resultMap="BaseResultMap">
        select * from marketing_product_spu <include refid="listSql"/>
        order by create_time desc
        <if test="query.offset != null">
            limit #{query.offset}, #{query.pageSize}
        </if>
    </select>

    <select id="selectCountByQuery" resultType="java.lang.Long">
        select count(1) from marketing_product_spu <include refid="listSql"/>
    </select>

    <select id="selectListByIds" resultMap="BaseResultMap">
        select * from marketing_product_spu where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </select>

    <select id="selectListByCondition" parameterType="com.bajiezu.cloud.product.dal.dto.ProductQuery" resultMap="BaseResultMap">
        select * from marketing_product_spu where is_deleted = 0 and shelves_status = 1
        <if test="name != null">
            and name like concat('%', #{name}, '%')
        </if>
        <if test="code != null">
            and code like concat('%', #{code}, '%')
        </if>
        <if test="productType != null">
            and type = #{productType}
        </if>
        <if test="marketingSpuIds != null and marketingSpuIds.size > 0">
            and id in
            <foreach item="id" collection="marketingSpuIds" separator="," open="(" close=")" index="">
                #{id}
            </foreach>
        </if>
        order by create_time desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="selectCountByCondition" parameterType="com.bajiezu.cloud.product.dal.dto.ProductQuery" resultType="java.lang.Long">
        select count(1) from marketing_product_spu where is_deleted = 0 and shelves_status = 1
        <if test="name != null">
            and name like concat('%', #{name}, '%')
        </if>
        <if test="code != null">
            and code like concat('%', #{code}, '%')
        </if>
        <if test="productType != null">
            and type = #{productType}
        </if>
        <if test="marketingSpuIds != null and marketingSpuIds.size > 0">
            and id in
            <foreach item="id" collection="marketingSpuIds" separator="," open="(" close=")" index="">
                #{id}
            </foreach>
        </if>
    </select>
</mapper>