<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.product.dal.mapper.MarketingProductSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.product.dal.entity.MarketingProductSku">
        <id column="id" property="id" />
        <result column="marketing_spu_id" property="marketingSpuId" />
        <result column="official_price" property="officialPrice" />
        <result column="total_price_factor" property="totalPriceFactor" />
        <result column="total_rent_factor" property="totalRentFactor" />
        <result column="total_price" property="totalPrice" />
        <result column="total_rent" property="totalRent" />
        <result column="buyout_amount" property="buyoutAmount" />
        <result column="daily_rent" property="dailyRent" />
        <result column="stock" property="stock" />
        <result column="premium" property="premium" />
        <result column="suggested_retail_price" property="suggestedRetailPrice" />
        <result column="strikethrough_price" property="strikethroughPrice" />
        <result column="cashUsage_ratio" property="cashUsageRatio" />
        <result column="pointsUsage_ratio" property="pointsUsageRatio" />
        <result column="points_count" property="pointsCount" />
        <result column="cash_price" property="cashPrice" />
        <result column="is_allow_order" property="isAllowOrder" />
        <result column="partner_id" property="partnerId" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />

        <result column="name" property="name" />
    </resultMap>

    <update id="logicDelByMarketingSpuIds">
        update
            marketing_product_sku
        set
            is_deleted = 1,
            update_by = #{updateBy},
            update_time = #{updateTime}
        where
            marketing_spu_id in
        <foreach item="id" collection="marketingSpuIds" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </update>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into marketing_product_sku (marketing_spu_id, official_price, total_price_factor, total_rent_factor, total_price,
                                           total_rent, buyout_amount, daily_rent, stock, premium, suggested_retail_price,
                                           strikethrough_price, cashUsage_ratio, pointsUsage_ratio, points_count, cash_price,
                                           is_allow_order, partner_id, create_by, update_by, create_time, update_time, is_deleted)
        values
        <foreach item="item" collection="list" separator="," index="">
            (
             #{item.marketingSpuId}, #{item.officialPrice}, #{item.totalPriceFactor}, #{item.totalRentFactor}, #{item.totalPrice},
             #{item.totalRent}, #{item.buyoutAmount}, #{item.dailyRent}, #{item.stock}, #{item.premium}, #{item.suggestedRetailPrice},
             #{item.strikethroughPrice}, #{item.cashUsageRatio}, #{item.pointsUsageRatio}, #{item.pointsCount}, #{item.cashPrice},
              #{item.isAllowOrder}, #{item.partnerId}, #{item.createBy}, #{item.updateBy}, #{item.createTime}, #{item.updateTime}, #{item.isDeleted}
            )
        </foreach>
    </insert>

    <select id="querySkuCountByMarketingProductSpuIds" resultType="com.bajiezu.cloud.product.dal.dto.IdAndCountDTO">
        select
            marketing_spu_id as id,
            count(*) as count
        from
            marketing_product_sku
        where
            is_deleted = 0 and marketing_spu_id in
        <foreach item="marketingSpuId" collection="marketingSpuIds" separator="," open="(" close=")">
            #{marketingSpuId}
        </foreach>
        group by
            marketing_spu_id
    </select>

    <select id="queryStockByMarketingProductSpuIds" resultType="com.bajiezu.cloud.product.dal.dto.IdAndCountDTO">
        select
            marketing_spu_id as id,
            sum(stock) as count
        from
            marketing_product_sku
        where
            is_deleted = 0 and marketing_spu_id in
        <foreach item="marketingSpuId" collection="marketingSpuIds" separator="," open="(" close=")">
            #{marketingSpuId}
        </foreach>
        group by
            marketing_spu_id
    </select>

    <select id="queryMinAndMaxBuybackPriceByMarketingProductSpuIds" resultType="com.bajiezu.cloud.product.dal.dto.IdAndPriceDTO">
        select
            marketing_spu_id as id,
            min(buyout_amount) as minPrice,
            max(buyout_amount) as maxPrice
        from
            marketing_product_sku
        where
        is_deleted = 0 and marketing_spu_id in
        <foreach item="marketingSpuId" collection="marketingSpuIds" separator="," open="(" close=")">
            #{marketingSpuId}
        </foreach>
        group by
        marketing_spu_id
    </select>

    <select id="queryMinDailyRentPriceByMarketingProductSpuIds" resultType="com.bajiezu.cloud.product.dal.dto.IdAndPriceDTO">
        select
            marketing_spu_id as id,
            min(daily_rent) as minPrice
        from
            marketing_product_sku
        where
        is_deleted = 0 and marketing_spu_id in
        <foreach item="marketingSpuId" collection="marketingSpuIds" separator="," open="(" close=")">
            #{marketingSpuId}
        </foreach>
    </select>

    <select id="queryMinAndMaxOfficialPriceByMarketingProductSpuIds" resultType="com.bajiezu.cloud.product.dal.dto.IdAndPriceDTO">
        select
            marketing_spu_id as id,
            min(official_price) as minPrice,
            max(official_price) as maxPrice
        from
            marketing_product_sku
        where
        is_deleted = 0 and marketing_spu_id in
        <foreach item="marketingSpuId" collection="marketingSpuIds" separator="," open="(" close=")">
            #{marketingSpuId}
        </foreach>
    </select>

    <select id="queryMinAndMaxSuggestedRetailPriceByMarketingProductSpuIds" resultType="com.bajiezu.cloud.product.dal.dto.IdAndPriceDTO">
        select
            marketing_spu_id as id,
            min(suggested_retail_price) as minPrice,
            max(suggested_retail_price) as maxPrice
        from
            marketing_product_sku
        where
        is_deleted = 0 and marketing_spu_id in
        <foreach item="marketingSpuId" collection="marketingSpuIds" separator="," open="(" close=")">
            #{marketingSpuId}
        </foreach>
    </select>

    <select id="selectListByMarketingSpuId" resultMap="BaseResultMap">
        select * from marketing_product_sku where marketing_spu_id = #{marketingSpuId} and is_deleted = 0
    </select>

    <select id="selectListByIds" resultMap="BaseResultMap">
        select * from marketing_product_sku where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </select>

    <select id="selectListByCondition" parameterType="com.bajiezu.cloud.product.dal.dto.ProductQuery" resultMap="BaseResultMap">
        select
            sku.id,
            sku.daily_rent,
            spu.name
        from marketing_product_sku sku
        left join marketing_product_spu spu on sku.marketing_spu_id = spu.id
        where sku.is_deleted = 0 and spu.is_deleted = 0 and spu.shelves_status = 1
        <if test="name != null">
            and spu.name like concat('%', #{name}, '%')
        </if>
        <if test="marketingSkuIds != null and marketingSkuIds.size>0">
            and sku.id in
            <foreach collection="marketingSkuIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        order by sku.create_time desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="selectCountByCondition" parameterType="com.bajiezu.cloud.product.dal.dto.ProductQuery" resultType="java.lang.Long">
        select count(1)
        from marketing_product_sku sku
        left join marketing_product_spu spu on sku.marketing_spu_id = spu.id
        where sku.is_deleted = 0 and spu.is_deleted = 0 and spu.shelves_status = 1
        <if test="name != null">
            and spu.name like concat('%', #{name}, '%')
        </if>
        <if test="marketingSkuIds != null and marketingSkuIds.size>0">
            and sku.id in
            <foreach collection="marketingSkuIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <update id="logicDelByIds">
        update
            marketing_product_sku
        set
            is_deleted = 1,
            update_time = #{updateTime},
            update_by = #{updateBy}
        where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </update>

    <update id="updateBatch">
        <foreach item="item" collection="list" separator=";" index="">
            update
                marketing_product_sku
            set
                official_price = #{item.officialPrice},
                total_price_factor = #{item.totalPriceFactor},
                total_rent_factor = #{item.totalRentFactor},
                total_price = #{item.totalPrice},
                total_rent = #{item.totalRent},
                buyout_amount = #{item.buyoutAmount},
                daily_rent = #{item.dailyRent},
                stock = #{item.stock},
                premium = #{item.premium},
                suggested_retail_price = #{item.suggestedRetailPrice},
                strikethrough_price = #{item.strikethroughPrice},
                cashUsage_ratio = #{item.cashUsageRatio},
                pointsUsage_ratio = #{item.pointsUsageRatio},
                points_count = #{item.pointsCount},
                cash_price = #{item.cashPrice},
                is_allow_order = #{item.isAllowOrder},
                update_by = #{item.updateBy},
                update_time = #{item.updateTime}
            where
                id = #{item.id}
        </foreach>
    </update>
</mapper>