<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.product.dal.mapper.MarketingProductSpuPropertyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.product.dal.entity.MarketingProductSpuProperty">
        <id column="id" property="id" />
        <result column="marketing_spu_id" property="marketingSpuId" />
        <result column="product_property_id" property="productPropertyId" />
        <result column="sort" property="sort" />
        <result column="is_add_property_pic" property="isAddPropertyPic" />
        <result column="is_add_marketing_corner" property="isAddMarketingCorner" />
        <result column="partner_id" property="partnerId" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <update id="logicDelByMarketingSpuIds">
        update
            marketing_product_spu_property
        set
            is_deleted = 1,
            update_by = #{updateBy},
            update_time = #{updateTime}
        where
            marketing_spu_id in
        <foreach item="id" collection="marketingSpuIds" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </update>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into marketing_product_spu_property (marketing_spu_id, product_property_id, sort, is_add_property_pic, is_add_marketing_corner, partner_id,
            create_by, update_by, create_time, update_time, is_deleted)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (
             #{item.marketingSpuId}, #{item.productPropertyId}, #{item.sort}, #{item.isAddPropertyPic}, #{item.isAddMarketingCorner}, #{item.partnerId}, #{item.createBy},
             #{item.updateBy}, #{item.createTime}, #{item.updateTime}, #{item.isDeleted}
            )
        </foreach>
    </insert>

    <select id="selectListByMarketingProductSpuIds" resultMap="BaseResultMap">
        select
            id, marketing_spu_id, product_property_id, sort, is_add_property_pic, is_add_marketing_corner
        from
            marketing_product_spu_property
        where
            marketing_spu_id in
        <foreach item="id" collection="marketingSpuIds" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
        and is_deleted = 0
    </select>

    <select id="selectListByMarketingSpuId" resultMap="BaseResultMap">
        select
            id, marketing_spu_id, product_property_id, sort, is_add_property_pic, is_add_marketing_corner
        from
            marketing_product_spu_property
        where
            marketing_spu_id = #{marketingSpuId}
        and is_deleted = 0
    </select>

    <select id="selectListBySpuIds" resultMap="BaseResultMap">
        select
            id, marketing_spu_id, product_property_id, sort, is_add_property_pic, is_add_marketing_corner
        from
            marketing_product_spu_property
        where
            marketing_spu_id in
        <foreach item="id" collection="spuIds" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
        and is_deleted = 0
    </select>

    <select id="selectProductPropertyIdsByMarketingProductSpuId" resultType="java.lang.Long">
        select
            product_property_id
        from
            marketing_product_spu_property
        where
            marketing_spu_id = #{spuId}
        and is_deleted = 0
    </select>

    <update id="logicDeleteByMarketingSpuIdAndPropertyIds">
        update
            marketing_product_spu_property
        set
            is_deleted = 1,
            update_by = #{updateBy},
            update_time = #{updateTime}
        where
            marketing_spu_id = #{marketingSpuId}
        and product_property_id in
        <foreach item="id" collection="productPropertyIds" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateBatch">
        <foreach item="item" collection="list" separator=";">
            update marketing_product_spu_property
            set
                sort = #{item.sort},
                is_add_property_pic = #{item.isAddPropertyPic},
                is_add_marketing_corner = #{item.isAddMarketingCorner},
                update_by = #{item.updateBy},
                update_time = #{item.updateTime}
            where id = #{item.id}
        </foreach>
    </update>
</mapper>
