<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.product.dal.mapper.MarketingProductSpuPropertyValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.product.dal.entity.MarketingProductSpuPropertyValue">
        <id column="id" property="id" />
        <result column="marketing_spu_id" property="marketingSpuId" />
        <result column="spu_property_id" property="spuPropertyId" />
        <result column="product_property_value_id" property="productPropertyValueId" />
        <result column="property_value" property="propertyValue" />
        <result column="sort" property="sort" />
        <result column="partner_id" property="partnerId" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />

        <result column="product_property_id" property="productPropertyId" />
    </resultMap>

    <update id="logicDelByMarketingSpuIds">
        update
            marketing_product_spu_property_value
        set
            is_deleted = 1,
            update_by = #{updateBy},
            update_time = #{updateTime}
        where
            marketing_spu_id in
        <foreach item="id" collection="marketingSpuIds" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </update>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into marketing_product_spu_property_value (marketing_spu_id, spu_property_id, product_property_value_id,
                                                          property_value, sort, partner_id, create_by, update_by, create_time,
                                                          update_time, is_deleted)
        values
        <foreach item="item" collection="list" separator=",">
            (#{item.marketingSpuId}, #{item.spuPropertyId}, #{item.productPropertyValueId}, #{item.propertyValue}, #{item.sort}, #{item.partnerId}, #{item.createBy},
             #{item.updateBy}, #{item.createTime}, #{item.updateTime}, #{item.isDeleted})
        </foreach>
    </insert>

    <select id="selectListByMarketingProductSpuIds" resultMap="BaseResultMap">
        select
            pv.id,
            pv.marketing_spu_id,
            sp.product_property_id,
            pv.product_property_value_id,
            pv.property_value,
            pv.sort
        from
            marketing_product_spu_property_value pv left join marketing_product_spu_property sp on pv.spu_property_id = sp.id
        where
            pv.marketing_spu_id in
        <foreach item="id" collection="marketingSpuIds" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
        and pv.is_deleted = 0
    </select>

    <select id="selectListByMarketingSpuId" resultMap="BaseResultMap">
        select
            id, marketing_spu_id, spu_property_id, product_property_value_id, property_value, sort
        from
            marketing_product_spu_property_value
        where
            marketing_spu_id = #{marketingSpuId}
            and is_deleted = 0
    </select>

    <select id="selectListByIds" resultMap="BaseResultMap">
        select
            pv.id, pv.product_property_value_id, pv.property_value, sp.product_property_id
        from
            marketing_product_spu_property_value pv left join marketing_product_spu_property sp on pv.spu_property_id = sp.id
        where
            pv.id in
        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
        and pv.is_deleted = 0
    </select>

    <select id="selectListBySpuIds" resultMap="BaseResultMap">
        select
            marketing_spu_id,
            spu_property_id,
            product_property_value_id,
            property_value,
            sort
        from
            marketing_product_spu_property_value
        where
            marketing_spu_id in
        <foreach item="id" collection="spuIds" separator="," open="(" close=")">
            #{id}
        </foreach>
        and is_deleted = 0
    </select>

    <select id="selectMarketingSpuIdsByPropertyValuesIds" resultType="java.lang.Long">
        select marketing_spu_id
        from marketing_product_spu_property_value
        where is_deleted = 0
          and product_property_value_id in
          <foreach item="id" collection="propertyValuesIds" separator="," open="(" close=")">
            #{id}
        </foreach>
        group by marketing_spu_id
        having count(id) = #{propertyValuesIdsCount}
    </select>

    <select id="selectMarketingSkuIdsByPropertyValuesIds" resultType="java.lang.Long">
        select
            msppv.marketing_product_sku_id
        from
            marketing_product_sku_property_value msppv
        inner join marketing_product_spu_property_value mspv on msppv.marketing_spu_property_value_id = mspv.id
        where
            msppv.is_deleted = 0
          and mspv.is_deleted = 0
          and mspv.product_property_value_id in
            <foreach item="id" collection="propertyValuesIds" separator="," open="(" close=")">
                #{id}
            </foreach>
        group by
            msppv.marketing_product_sku_id
        having
            count(msppv.id ) = #{propertyValuesIdsCount}
    </select>
</mapper>