<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.product.dal.mapper.MarketingProductSkuPropertyValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.product.dal.entity.MarketingProductSkuPropertyValue">
        <id column="id" property="id" />
        <result column="marketing_spu_id" property="marketingSpuId" />
        <result column="marketing_product_sku_id" property="marketingProductSkuId" />
        <result column="marketing_spu_property_value_id" property="marketingSpuPropertyValueId" />
        <result column="partner_id" property="partnerId" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <update id="logicDelByMarketingSpuIds">
        update
            marketing_product_sku_property_value
        set
            is_deleted = 1,
            update_by = #{updateBy},
            update_time = #{updateTime}
        where
            marketing_product_sku_id in
        <foreach item="id" collection="marketingSpuIds" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </update>

    <insert id="insertBatch">
        insert into marketing_product_sku_property_value (id,marketing_spu_id,marketing_product_sku_id,marketing_spu_property_value_id,
                                                            partner_id,create_by,update_by,create_time,update_time,is_deleted)
        values
        <foreach item="item" collection="list" separator="," index="">
            (
             #{item.id},#{item.marketingSpuId},#{item.marketingProductSkuId},#{item.marketingSpuPropertyValueId},
             #{item.partnerId},#{item.createBy},#{item.updateBy},#{item.createTime},#{item.updateTime},#{item.isDeleted}
            )
        </foreach>
    </insert>

    <select id="selectListByMarketingSpuId" resultMap="BaseResultMap">
        select id, marketing_spu_id, marketing_product_sku_id, marketing_spu_property_value_id from marketing_product_sku_property_value
        where marketing_spu_id = #{marketingSpuId} and is_deleted = 0
    </select>

    <select id="selectSpuPropertyValueIdsBySkuIds" resultType="java.lang.Long">
        select marketing_spu_property_value_id from marketing_product_sku_property_value where is_deleted = 0 and
        marketing_product_sku_id in
         <foreach item="id" collection="skuIds" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </select>

    <select id="selectListBySkuIds" resultMap="BaseResultMap">
        select * from marketing_product_sku_property_value where marketing_product_sku_id in
        <foreach collection="skuIds" item="skuId" open="(" separator="," close=")">
            #{skuId}
        </foreach>
    </select>

    <update id="logicDelBySkuIds">
        update marketing_product_sku_property_value set is_deleted = 1, update_by = #{updateBy}, update_time = #{updateTime}
        where marketing_product_sku_id in
        <foreach item="id" collection="skuIds" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </update>

    <update id="logicDelBySkuIdAndSpuPropertyValueIds">
        update marketing_product_sku_property_value set is_deleted = 1, update_by = #{updateBy}, update_time = #{updateTime}
        where marketing_product_sku_id = #{skuId} and marketing_spu_property_value_id in
        <foreach item="id" collection="spuPropertyValueIds" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </update>
</mapper>