<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.product.dal.mapper.MarketingProductSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.product.dal.entity.MarketingProductSku">
        <id column="id" property="id" />
        <result column="marketing_spu_id" property="marketingSpuId" />
        <result column="official_price" property="officialPrice" />
        <result column="total_price_factor" property="totalPriceFactor" />
        <result column="total_rent_factor" property="totalRentFactor" />
        <result column="total_price" property="totalPrice" />
        <result column="total_rent" property="totalRent" />
        <result column="buyout_amount" property="buyoutAmount" />
        <result column="daily_rent" property="dailyRent" />
        <result column="stock" property="stock" />
        <result column="premium" property="premium" />
        <result column="suggested_retail_price" property="suggestedRetailPrice" />
        <result column="strikethrough_price" property="strikethroughPrice" />
        <result column="cashUsage_ratio" property="cashUsageRatio" />
        <result column="pointsUsage_ratio" property="pointsUsageRatio" />
        <result column="points_count" property="pointsCount" />
        <result column="cash_price" property="cashPrice" />
        <result column="is_allow_order" property="isAllowOrder" />
        <result column="partner_id" property="partnerId" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>