<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.product.dal.mapper.ProductMarketingCategoryMapper">

    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.product.dal.entity.ProductMarketingCategory">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="sort" property="sort"/>
        <result column="level" property="level"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="partner_id" property="partnerId"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="queryCount" resultType="java.lang.Long">
        select count(*) from product_marketing_category where is_deleted = 0
        <if test="name != null and name != ''">
            and `name` like concat('%',#{name},'%')
        </if>
    </select>

    <select id="selectByStatus" resultMap="BaseResultMap">
        select * from product_marketing_category where status = #{status} and is_deleted = 0
    </select>

    <select id="queryByParentIdAndName" resultMap="BaseResultMap">
        select * from product_marketing_category where parent_id = #{parentId} and name = #{name} and is_deleted = 0
    </select>

    <update id="logicDelById">
        update product_marketing_category set is_deleted = 1, update_by = #{updateBy}, update_time = #{updateTime}  where id = #{id}
    </update>

    <update id="logicDelByPathLike">
        update product_marketing_category set is_deleted = 1, update_by = #{updateBy}, update_time = #{updateTime}  where path like concat(#{path},'%')
    </update>

    <update id="updateStatusById">
        update product_marketing_category set status = #{status}, update_by = #{updateBy}, update_time = #{updateTime}  where id = #{id}
    </update>

    <update id="updateStatusByPathLike">
        update product_marketing_category set status = #{status}, update_by = #{updateBy}, update_time = #{updateTime}  where path like concat(#{path},'%')
    </update>

    <select id="queryByName" resultMap="BaseResultMap">
        select * from product_marketing_category where name = #{name} and is_deleted = 0
    </select>

    <select id="selectByLevel" resultMap="BaseResultMap">
        select * from product_marketing_category where level = #{level} and is_deleted = 0
        <if test="ids != null and ids.size > 0">
            and id in
            <foreach item="item" collection="ids" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </if>
        order by sort
        <if test="offset != null">
           limit #{offset},#{limit}
        </if>
    </select>

    <select id="selectCountByLevel" resultType="java.lang.Long">
        select count(*) from product_marketing_category where level = #{level} and is_deleted = 0
        <if test="ids != null and ids.size > 0">
            and id in
            <foreach item="item" collection="ids" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="batchSelectByPathPrefix" resultMap="BaseResultMap">
        <foreach collection="categoryIds" item="categoryId" separator=" OR " open="(" close=")">
            path like CONCAT(#{categoryId}, ',%')
        </foreach>
        and is_deleted = 0
    </select>

    <update id="updatePathById">
        update product_marketing_category set path = #{path} where id = #{id}
    </update>

    <select id="queryAll" resultMap="BaseResultMap">
        select * from product_marketing_category where is_deleted = 0
    </select>

    <select id="selectSelfAndParentsById" resultMap="BaseResultMap">
        select *
        from product_marketing_category
        where find_in_set(id, (
            select path
            from product_marketing_category
            where id = #{id}
        )) > 0
          and is_deleted = 0
        order by level;
    </select>

    <select id="selectListByIds" resultMap="BaseResultMap">
        select *
        from product_marketing_category
        where id in
        <foreach item="item" collection="ids" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>

    <select id="selectNameById" resultType="java.lang.String">
        select name
        from product_marketing_category
        where id = #{id}
    </select>
</mapper>
