<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.product.dal.mapper.ProductPropertyMapper">

    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.product.dal.entity.ProductProperty">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="partner_id" property="partnerId"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <!-- 创建人用户名字段 -->
        <result column="create_by_name" property="creatorName"/>
    </resultMap>

    <select id="queryList" resultMap="BaseResultMap">
        SELECT
        pp.*,
        sys_user.user_name as create_by_name
        FROM product_property as pp
        LEFT JOIN sys_user on pp.create_by = sys_user.id
        WHERE pp.is_deleted = 0
        <if test="name != null and name != ''">
            AND pp.name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY pp.sort ASC, pp.create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="queryCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM product_property
        WHERE is_deleted = 0
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
    </select>

    <select id="selectListWithValues" resultType="com.bajiezu.cloud.product.dal.entity.ProductProperty">
        SELECT * FROM product_property
                 left join product_property_value on product_property.id = product_property_value.property_id
        WHERE product_property.is_deleted = 0
        <if test="name != null and name != ''">
            AND name LIKE CONCAT('%', #{partnerId}, '%')
        </if>
    </select>
</mapper>
