<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.product.dal.mapper.StandardProductSpuPropertyValueMapper">
    <insert id="insertBatch">insert into standard_product_spu_property_value (standard_spu_id,spu_property_id,product_property_value_id,property_value,pic_url,marketing_corner_text,sort,create_by,update_by,create_time,update_time,is_deleted) values
        <foreach collection="list" item="item" separator=",">(#{item.standardSpuId},#{item.spuPropertyId},#{item.productPropertyValueId},#{item.propertyValue},#{item.picUrl},IFNULL(#{item.marketingCornerText},''),#{item.sort},#{item.createBy},#{item.updateBy},#{item.createTime},#{item.updateTime},#{item.isDeleted})</foreach>
    </insert>
    <select id="selectListByStandardSpuId" resultType="com.bajiezu.cloud.product.dal.entity.StandardProductSpuPropertyValue">select * from standard_product_spu_property_value where standard_spu_id=#{standardSpuId} and is_deleted=0</select>
    <update id="logicDelByStandardSpuId">update standard_product_spu_property_value set is_deleted=1,update_by=#{updateBy},update_time=#{updateTime} where standard_spu_id=#{standardSpuId} and is_deleted=0</update>
</mapper>
