<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bajiezu.cloud.product.dal.mapper.ValueAddedCompensationAmountRuleMapper">

    <resultMap id="BaseResultMap" type="com.bajiezu.cloud.product.dal.entity.ValueAddedCompensationAmountRule">
        <id column="id" property="id" />
        <result column="value_added_id" property="valueAddedId" />
        <result column="compensation_amount" property="compensationAmount" />
        <result column="compensation_amount_ratio" property="compensationAmountRatio" />
        <result column="sort_order" property="sortOrder" />
        <result column="partner_id" property="partnerId" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <insert id="batchInsert">
        insert into value_added_compensation_amount_rule
            (value_added_id, compensation_amount, compensation_amount_ratio, sort_order, partner_id,
             create_by, update_by, create_time, update_time, is_deleted)
        values
        <foreach collection="rules" item="item" separator=",">
            (#{item.valueAddedId}, #{item.compensationAmount}, #{item.compensationAmountRatio}, #{item.sortOrder}, #{item.partnerId},
             #{item.createBy}, #{item.updateBy}, #{item.createTime}, #{item.updateTime}, #{item.isDeleted})
        </foreach>
    </insert>

    <select id="selectListByValueAddedIds" resultMap="BaseResultMap">
        select *
        from value_added_compensation_amount_rule
        where is_deleted = 0
        and value_added_id in
        <foreach item="item" collection="valueAddedIds" separator="," open="(" close=")">
            #{item}
        </foreach>
        order by value_added_id asc, sort_order asc, compensation_amount asc, id asc
    </select>

    <update id="logicDelByValueAddedId">
        update value_added_compensation_amount_rule
        set is_deleted = 1, update_time = #{updateTime}, update_by = #{updateBy}
        where value_added_id = #{valueAddedId}
          and is_deleted = 0
    </update>
</mapper>
